/*
 * Palette variables
 */

$mdc-theme-primary: #424242;
$mdc-theme-primary-hue-1: #333333;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #fdd835;
$mdc-theme-on-secondary: #000000;
$mdc-theme-background: #616161;
$mdc-theme-surface: #FFFFFF;
$mdc-theme-on-surface: #2A2B2D;
