@import './assets/theme/theme.scss';

:root, html, body {
  height: 100%;
  margin: 0;
}

body, div, section {
  box-sizing: border-box;
}

@import './layouts/layouts.scss';
@import './components/components.scss';
